:root {
    --primary-color: #0E2A47;
    --white-color: #FFFFFF;
    --light-gray-color: #eee;
    --gap: 3rem;
}

.color-red {
    color: red;
}

.color-orange {
    color: orange;
}

.color-green {
    color: green;
}